@charset "utf-8"; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 16px '맑은 고딕';
    color: black;
}

ul,
ol,
li {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img,
input,
textarea {
    vertical-align: middle;
}

h1{
    font-size: 32px;
}

h2{
    font-size : 0;
}

h3{
    font-size: 30px;
}

p{
    line-height: 1.8;
}

strong{
    display: block;
}

header,
main,
aside,
footer
article,
nav 
section { /* IE8버전 이하에서 시맨틱 태그 인식되세 함 */
    display: block;
}